body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #002665;
    color: #333;
}

header {
    background-color: #002665;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li.logo {
    flex-grow: 1;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}

.Logo {
    height: 70px;
}

main {
    padding: 40px 20px;
    text-align: center;
}

.title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #BDCF19;
}

.text {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    color: #fff;
}

.circle-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.circlehome {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background: #BDCF19;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bubbleimg {
    width: 100%;
    height: 100%;
    filter: invert(100);
}

.bubbleimgbike {
    height: 80%;
    width: 80%;
    filter: invert(100);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    margin: 1rem;
    height: 10rem;
    width: 30rem;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.imgprofil {
    height: 80%;
    width: 30%;
    float: left;
    margin-right: 2rem;
}

.card div {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: left;
    flex: 1;
}

.divblue {
    color: #002665;
    font-weight: bold;
}

.divgreen {
    color: #BDCF19;
    font-weight: bold;
}

.event {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    margin-left: 3rem;
}

.circlewettkaempfe {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #BDCF19;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.datum {
    font-size: 1.5rem;
    font-weight: bold;
    color: #002665;
    text-align: center;
}

.name {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    font-weight: bold;
    margin-left: 3rem;
}

.title2 {
    font-weight: bold;
    color: #fff;
    font-size: 2rem;
    text-decoration-line: underline;
    text-align: left;
    margin-left: 18rem;
}

.link {
    margin-top: 5px;
}

.link a {
    color: #fff;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

.time {
    font-weight: bold;
    color: #fff;
}

.schedule-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.schedule {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #002665;
    padding: 20px;
    border-radius: 10px;
    color: white;
    flex: 1;
    margin-right: 20px;
}

.schedule img {
    width: 60%;
    height: 60%;
    margin-bottom: 2rem;
    float: left;
    filter: invert(100);
}

.schedule .time {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 6rem;
}

.location {
    background-color: #002665;
    padding: 20px;
    border-radius: 10px;
    color: white;
    flex: 1;
}

.location .standort {
    margin-bottom: 20px;
    font-size: 1.25rem;
    font-weight: bold;
}

.location iframe {
    border-radius: 10px;
}

.placetitle {
    font-weight: bold;
    color: #fff;
}

.title3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-align: left;
    margin-left: 20rem;
    margin-top: 2rem;
}

.title4 {
    font-weight: bold;
    color: #fff;
    text-align: left;
    margin-left: 20rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #002665;
    border-radius: 5px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #BDCF19;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
select {
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: #fff;
}

button {
    grid-column: span 2;
    background-color: #BDCF19;
    color: #002665;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #BDCF19;
}

.title5 {
    font-weight: bold;
    color: #BDCF19;
    text-align: left;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.button2 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: #002665;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.button2:hover {
    background-color: #002665;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .circlehome {
        width: 200px;
        height: 200px;
    }

    .title {
        font-size: 32px;
    }

    .text {
        font-size: 16px;
        text-align: center;  
    }

    .title2, .title3, .title4 {
        margin-left: 10rem;
        font-size: 1.75rem;
    }

    .form-container form {
        width: 80%;
        grid-template-columns: 1fr;
    }

    .card {
        width: 25rem;
    }

    .schedule-container {
        flex-direction: column;
        align-items: center;
    }

    .schedule, .location {
        width: 100%;
        margin-bottom: 20px;
    }

    .location iframe {
        width: 100%;
        height: 300px;
    }

    .schedule img {
        width: 50%;
        height: 50%;
        margin-bottom: 1rem;
    }

    .circlewettkaempfe {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 992px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .circle-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .circlehome {
        width: 180px;
        height: 180px;
    }

    .title {
        font-size: 28px;
    }

    .text {
        font-size: 1rem;
        text-align: center;  
    }

    .title2, .title3, .title4 {
        margin-left: 0;
        text-align: center;
        font-size: 1.5rem;
    }

    .placetitle {
        text-align: center;  
    }

    .form-container form {
        width: 100%;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .schedule-container {
        flex-direction: column;
        align-items: center;
    }

    .schedule, .location {
        width: 100%;
        margin-bottom: 20px;
    }

    .location iframe {
        width: 100%;
        height: 300px;
    }

    .schedule img {
        width: 50%;
        height: 50%;
        margin-bottom: 1rem;
    }

    .circlewettkaempfe {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 24px;
    }

    .text {
        font-size: 14px;
        text-align: center;  
    }

    .circlehome {
        width: 150px;
        height: 150px;
    }

    .schedule-container {
        align-items: center;
    }

    .schedule {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .location {
        width: 100%;
    }

    .title3, .title4, .title5 {
        text-align: center;
    }

    .form-container form {
        width: 80%;
        padding: 20px;
        grid-template-columns: 1fr;
    }

    .form-container {
        padding: 0 20px;
    }

    .schedule-container {
        flex-direction: column;
        align-items: center;
    }

    .schedule, .location {
        width: 100%;
        margin-bottom: 20px;
    }

    .location iframe {
        width: 100%;
        height: 250px;
    }

    .schedule img {
        width: 50%;
        height: 50%;
        margin-bottom: 1rem;
    }

    .title, .title2, .title3, .title4, .title5 {
        font-size: 1.25rem;
    }

    .placetitle {
        text-align: center;  
    }

    .circlewettkaempfe {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 576px) {
    .circlehome {
        width: 120px;
        height: 120px;
    }

    .title {
        font-size: 20px;
    }

    .schedule img {
        width: 50%;
        height: 50%;
    }

    .form-container form {
        width: 80%;
        padding: 10px;
        grid-template-columns: 1fr;
    }

    .form-container {
        padding: 0 10px;
    }

    .schedule-container {
        flex-direction: column;
        align-items: center;
    }

    .schedule, .location {
        width: 100%;
        margin-bottom: 20px;
    }

    .location iframe {
        width: 100%;
        height: 200px;
    }

    .schedule img {
        width: 50%;
        height: 50%;
        margin-bottom: 1rem;
    }

    .title, .title2, .title3, .title4, .title5 {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .text {
        font-size: 0.75rem;
        text-align: center;  
    }

    .placetitle {
        text-align: center;  
    }

    .circlewettkaempfe {
        width: 60px;
        height: 60px;
        margin-right: 0;
    }
}
